<!DOCTYPE html>
<html>

<head>
	<title>Pseudo Web IDE</title>
	<link rel="stylesheet" type="text/css" href="./../static/plugin/codemirror/lib/codemirror.css">
	<link rel="stylesheet" type="text/css" href="./../static/plugin/codemirror/theme/solarized.css">
	<link rel="stylesheet" type="text/css" href="./../static/plugin/codemirror/theme/solarized-dark.css">
	<link rel="stylesheet" type="text/css" href="prettify.css">



	<script type="text/javascript" src="./../static/scripts/jquery.min.js"></script>
	<script type="text/javascript" src="./../static/plugin/codemirror/lib/codemirror.js"></script>
	<script type="text/javascript" src="./../static/scripts/default.js"></script>
	<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

	<script src = "./../static/plugin/codemirror/mode/python/python.js" ></script>



</head>

<body>
<div TOP:35px;>
TEST
</div>
<div id="content" width="1200px">
	<div id="pseudo" width="600px" style="float:left">
	<textarea id="editor" rows = "10" cols = "5"> </textarea>
	</div>
	<div id="divpython" width="600px" style="float:right">
	<textarea id="pythonout" rows = "10" cols = "5"> </textarea>
	</div>
</div>
<br/>
<div id="submit" style="padding-top: 400px;">
	<pre id="python" <pre class="prettyprint linenums:4" </pre>
	<button onclick="submit_html();">Submit</button>
</div>
</body>

<script>
	var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
		lineNumbers: true,
		theme: "solarized-dark"
	});
	editor.setSize(600,400);

	var pyedit = CodeMirror.fromTextArea(document.getElementById("pythonout"), {
		lineNumbers: true,
		mode: "python",
		theme: "solarized-dark"
	});
	pyedit.setSize(600,400);
	String.prototype.replaceAll = function(search, replacement) {
		var target = this;
		return target.replace(new RegExp(search, 'g'), replacement);
	};

	function submit_html() {
		editor.save();
		var code = document.getElementById("editor").value;
		$.ajax({
			type: "POST",
			url: "/postmethod",
			data: {
				'javascript_data': code
			},
		}).success(function(data) {
			
			var json = JSON.parse(data);
			python = json['python']
			output = json['output']
			python = python.replace(/&&newline&&/g, "\n")
			output = output.replace(/&&newline&&/g, "\n")
                //console.log(o['python']);
                $("#python").text(output).parent().removeClass("prettyprinted");
            pyedit.getDoc().setValue(python);
            prettyPrint();
            }).error(function(data) {
            	console.log("Error");
            });



        }


    /*
		test("test", function(returnData){
			var output = returnData;
			console.log(returnData);
		});


		function test(input, callback){
			var output = processInput(input);
			callback(output);
		}

		*/
	</script>

	</html>