<!DOCTYPE html>
<html>
<head>
	<title>Pseudo Web IDE</title>
	<link rel="stylesheet" type="text/css" href="./../static/plugin/codemirror/lib/codemirror.css">

</head>
<body>
	<textarea class="codemirror-textarea"></textarea>

	<!-- javascript -->
	<script type="text/javascript" src="./../static/scripts/jquery.min.js"></script>
	<script type="text/javascript" src="./../static/plugin/codemirror/lib/codemirror.js"></script>
	<script type="text/javascript" src="./../static/scripts/default.js"></script>
	<script type="text/javascript">

		$.ajax({
			type: 'GET',
			url: '/getmethod/<jsdata>',

			success: function(response) {
				console.log(response);
			},
			error: function(response) {
				return console.error(response);
			}
		});
	</script>

</body>
</html> 